@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-50: oklch(0.97 0.01 126);
    --color-100: oklch(0.91 0.03 126);
    --color-200: oklch(0.83 0.05 127);
    --color-300: oklch(0.79 0.06 127);
    --color-400: oklch(0.73 0.08 128);
    --color-500: oklch(0.67 0.10 128);
    --color-600: oklch(0.58 0.09 128);
    --color-700: oklch(0.49 0.07 128);
    --color-800: oklch(0.39 0.05 127);
    --color-900: oklch(0.28 0.03 127);
    --color-950: oklch(0.17 0.01 127);

    --color-zinc-50: var(--color-neutral-50);
    --color-zinc-100: var(--color-neutral-100);
    --color-zinc-200: var(--color-neutral-200);
    --color-zinc-300: var(--color-neutral-300);
    --color-zinc-400: var(--color-neutral-400);
    --color-zinc-500: var(--color-neutral-500);
    --color-zinc-600: var(--color-neutral-600);
    --color-zinc-700: var(--color-neutral-700);
    --color-zinc-800: var(--color-neutral-800);
    --color-zinc-900: var(--color-neutral-900);
    --color-zinc-950: var(--color-neutral-950);

    --color-accent: var(--color-600);
    --color-accent-content: var(--color-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-600);
        --color-accent-content: var(--color-400);
        --color-accent-foreground: var(--color-white);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-neutral-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}
